[package]
name = "starklane"
version = "0.1.0"

[dependencies]
starknet = "2.6.3"
openzeppelin = { git = "https://github.com/OpenZeppelin/cairo-contracts.git", tag = "v0.11.0" }

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry.git", tag = "v0.19.0" }

[[target.starknet-contract]]
sierra = true
casm = true

[lib]

[tool.sncast.katana]
account = "katana_account"
url = "http://127.0.0.1:5050"
