@tailwind base;
@tailwind components;
@tailwind utilities;

.Ethereum {
  /* Playground Purple */
  --color-primary-source: #8c62f2;
  --color-primary-50: #f8f0ff;
  --color-primary-100: #f4e9ff;
  --color-primary-200: #dfc3ff;
  --color-primary-300: #c39cff;
  --color-primary-400: #a774f4;
  --color-primary-500: #7d56e5;
  --color-primary-600: #754ddf;
  --color-primary-700: #6540c6;
  --color-primary-800: #5335a6;
  --color-primary-900: #3f287f;
}

.Starknet {
  /* Folly Red*/
  --color-primary-source: #f8545c;
  --color-primary-50: #ffeeec;
  --color-primary-100: #ffccc9;
  --color-primary-200: #ffaba7;
  --color-primary-300: #ff8a88;
  --color-primary-400: #ff6a6e;
  --color-primary-500: #ed4d56;
  --color-primary-600: #d53243;
  --color-primary-700: #b81c33;
  --color-primary-800: #970e26;
  --color-primary-900: #740d1d;
}

@media screen and (max-width: 1024px) {
  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }
}
