# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Dependencies that can be fetched.
lib/forge-std/
lib/openzeppelin-contracts/

